#principal
{
  width: 99%;
  background-color: #A4A4A4;
  border: 6px solid black;
}

#fundo
{
  background: #A4A4A4;
}

#rodape
{
  background: blue;
  font-size: 20px;
  text-align: center;
}

#telalogin
{ 
background: url("../imagens/tela-login.png");
font-family: 16px sans-serif;
}

.login
{
  float: right;
  border: 1px solid black; 
}

#menu
{
  background: #c5c5b2;
  padding: 18px;
}

.linkmenu
{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

